Code/j6SentinelService/j6SentinelEngine/Web References/YanbalIntegrationService/YanbalIntegrationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CUST2094.RemoteEntityModel.InventoryService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CUST2094.RemoteEntityModel.InventoryService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWarehouseInventoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WarehouseInventoryItem" nillable="true" type="tns:WarehouseInventoryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarehouseInventoryItem" nillable="true" type="tns:ArrayOfWarehouseInventoryItem" />
  <xs:complexType name="WarehouseInventoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="BackordersAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Bay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpectedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnBackorder" type="xs:boolean" />
      <xs:element minOccurs="0" name="RegularStockAmount" type="xs:int" />
      <xs:element minOccurs="0" name="ReorderPoint" type="xs:int" />
      <xs:element minOccurs="0" name="StandardCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StandardCostCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackQuantity" type="xs:boolean" />
      <xs:element minOccurs="0" name="Warehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarehouseInventoryItem" nillable="true" type="tns:WarehouseInventoryItem" />
</xs:schema>