Code/j6SentinelService/j6SentinelEngine/Web References/YanbalIntegrationService/YanbalIntegrationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.jenkon.com/yanbal" elementFormDefault="qualified" targetNamespace="http://www.jenkon.com/yanbal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uat-j6.yanbalbolivia.com/Integration/YanbalIntegrationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CUST2094.Integration.RequestResultObjects" />
  <xs:import schemaLocation="http://uat-j6.yanbalbolivia.com/Integration/YanbalIntegrationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CUST2094.RemoteEntityModel.InventoryService" />
  <xs:import schemaLocation="http://uat-j6.yanbalbolivia.com/Integration/YanbalIntegrationService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCurrencyExchanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:AddCurrencyExchangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AddCurrencyExchangeRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrencyExchangeRequests" nillable="true" type="tns:ArrayOfAddCurrencyExchange" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddCurrencyExchangeRequest" nillable="true" type="tns:AddCurrencyExchangeRequest" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationKey" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="ArrayOfAddCurrencyExchange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddCurrencyExchange" nillable="true" type="tns:AddCurrencyExchange" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddCurrencyExchange" nillable="true" type="tns:ArrayOfAddCurrencyExchange" />
  <xs:complexType name="AddCurrencyExchange">
    <xs:sequence>
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExchangeRateType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToCurrency" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddCurrencyExchange" nillable="true" type="tns:AddCurrencyExchange" />
  <xs:element name="AddCurrencyExchangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CUST2094.Integration.RequestResultObjects" minOccurs="0" name="AddCurrencyExchangesResult" nillable="true" type="q1:AddCurrencyExchangeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlPayload" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:StatusChangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="StatusChangeRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusComment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeOfStatus" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StatusChangeRequest" nillable="true" type="tns:StatusChangeRequest" />
  <xs:element name="StatusChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StatusChangeResult" nillable="true" type="tns:SaleOrderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SaleOrderResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="SaleOrder" nillable="true" type="tns:SaleOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleOrderResult" nillable="true" type="tns:SaleOrderResult" />
  <xs:complexType name="SaleOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnnualWeek" type="xs:int" />
      <xs:element minOccurs="0" name="Campaign" type="xs:int" />
      <xs:element minOccurs="0" name="CommissionableVolume" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConsultantCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultantFirstLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultantSecondLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfStatus" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:ArrayOfSaleOrderDetail" />
      <xs:element minOccurs="0" name="DirectorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirectorFirstLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirectorSecondLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountScale" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountVolume" type="xs:decimal" />
      <xs:element minOccurs="0" name="GateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntegralEarnings" type="xs:decimal" />
      <xs:element minOccurs="0" name="NameOfConsultant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameOfCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameOfDirector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetSalesVolume" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderReceived" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginOfOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentageTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShipperCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingVolume" type="xs:decimal" />
      <xs:element minOccurs="0" name="SpecialTaxVolume" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeOfStatus" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VolumeAfterTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="VolumeOfPublicSale" type="xs:decimal" />
      <xs:element minOccurs="0" name="VolumeOfTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="WarehouseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Week" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleOrder" nillable="true" type="tns:SaleOrder" />
  <xs:complexType name="ArrayOfSaleOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SaleOrderDetail" nillable="true" type="tns:SaleOrderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSaleOrderDetail" nillable="true" type="tns:ArrayOfSaleOrderDetail" />
  <xs:complexType name="SaleOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountOfProduct" type="xs:int" />
      <xs:element minOccurs="0" name="Batch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommercialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommissionVolume" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConsultantCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContestCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountScale" type="xs:decimal" />
      <xs:element minOccurs="0" name="NameOfConsultant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderRecordDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderRecordTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrizesOutsideTheBox" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductPriceType" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductQuantityPicked" type="xs:int" />
      <xs:element minOccurs="0" name="ProductUnitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="QualificationVolume" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReferencePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShoppingCart" type="xs:int" />
      <xs:element minOccurs="0" name="StarDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Subtotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxableValueOfProduct" type="xs:decimal" />
      <xs:element minOccurs="0" name="TypeOfOffer" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValueOfIntegralEarnings" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleOrderDetail" nillable="true" type="tns:SaleOrderDetail" />
  <xs:element name="UpdatePreparedOrderInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:UpdatePreparedOrderInformationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UpdatePreparedOrderInformationRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CarrierCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Details" nillable="true" type="tns:ArrayOfUpdatePreparedOrderRequestDetail" />
          <xs:element minOccurs="0" name="OrderDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SalesOrderCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Warehouse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WarehouseGate" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdatePreparedOrderInformationRequest" nillable="true" type="tns:UpdatePreparedOrderInformationRequest" />
  <xs:complexType name="ArrayOfUpdatePreparedOrderRequestDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UpdatePreparedOrderRequestDetail" nillable="true" type="tns:UpdatePreparedOrderRequestDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUpdatePreparedOrderRequestDetail" nillable="true" type="tns:ArrayOfUpdatePreparedOrderRequestDetail" />
  <xs:complexType name="UpdatePreparedOrderRequestDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Batch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InventoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrizesOutsideTheBox" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductQuantityPicked" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdatePreparedOrderRequestDetail" nillable="true" type="tns:UpdatePreparedOrderRequestDetail" />
  <xs:element name="UpdatePreparedOrderInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePreparedOrderInformationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReturnsReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:ReturnsReportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReturnsReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConsultantCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ReturnType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReturnsReportRequest" nillable="true" type="tns:ReturnsReportRequest" />
  <xs:element name="GetReturnsReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReturnsReportResult" nillable="true" type="tns:ReturnsReportResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReturnsReportResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Returns" nillable="true" type="tns:ArrayOfReturnRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnsReportResult" nillable="true" type="tns:ReturnsReportResult" />
  <xs:complexType name="ArrayOfReturnRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReturnRecord" nillable="true" type="tns:ReturnRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReturnRecord" nillable="true" type="tns:ArrayOfReturnRecord" />
  <xs:complexType name="ReturnRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsultantCodeandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCodeandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCodes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductDescriptions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityNotResalable" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnQuantities" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volumes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnRecord" nillable="true" type="tns:ReturnRecord" />
  <xs:element name="UpdateCreditSanctions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:UpdateCreditSanctionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UpdateCreditSanctionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreditSanctions" nillable="true" type="tns:ArrayOfCreditSanctionWebRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateCreditSanctionRequest" nillable="true" type="tns:UpdateCreditSanctionRequest" />
  <xs:complexType name="ArrayOfCreditSanctionWebRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditSanctionWebRequest" nillable="true" type="tns:CreditSanctionWebRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditSanctionWebRequest" nillable="true" type="tns:ArrayOfCreditSanctionWebRequest" />
  <xs:complexType name="CreditSanctionWebRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsultantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditPenaltyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PYFSactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditSanctionWebRequest" nillable="true" type="tns:CreditSanctionWebRequest" />
  <xs:element name="UpdateCreditSanctionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCreditSanctionsResult" nillable="true" type="tns:UpdateCreditSanctionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UpdateCreditSanctionResult">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="UpdateCreditSanctionResult" nillable="true" type="tns:UpdateCreditSanctionResult" />
  <xs:element name="UpdateSanctions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:UpdateSanctionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UpdateSanctionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Sanctions" nillable="true" type="tns:ArrayOfSanctionWebRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateSanctionRequest" nillable="true" type="tns:UpdateSanctionRequest" />
  <xs:complexType name="ArrayOfSanctionWebRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SanctionWebRequest" nillable="true" type="tns:SanctionWebRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSanctionWebRequest" nillable="true" type="tns:ArrayOfSanctionWebRequest" />
  <xs:complexType name="SanctionWebRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsultantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PYFSactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SanctionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SanctionWebRequest" nillable="true" type="tns:SanctionWebRequest" />
  <xs:element name="UpdateSanctionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSanctionsResult" nillable="true" type="tns:UpdateSanctionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UpdateSanctionResult">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="UpdateSanctionResult" nillable="true" type="tns:UpdateSanctionResult" />
  <xs:element name="AdjustStartingInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:AdjustStartingInventoryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdjustStartingInventoryRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdjustmentQuanity" type="xs:int" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InventoryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Warehouse" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdjustStartingInventoryRequest" nillable="true" type="tns:AdjustStartingInventoryRequest" />
  <xs:element name="AdjustStartingInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdjustStartingInventoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:UpdateInventoryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UpdateInventoryRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Inventory" nillable="true" type="tns:ArrayOfInventoryItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateInventoryRequest" nillable="true" type="tns:UpdateInventoryRequest" />
  <xs:complexType name="ArrayOfInventoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventoryItem" nillable="true" type="tns:InventoryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventoryItem" nillable="true" type="tns:ArrayOfInventoryItem" />
  <xs:complexType name="InventoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Family" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternalCorpCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InternalCorpCostCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternalCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InternalCostCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Medium" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Range" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardCorpCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StandardCorpCostCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StandardCostCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CUST2094.RemoteEntityModel.InventoryService" minOccurs="0" name="WarehouseInventoryItems" nillable="true" type="q2:ArrayOfWarehouseInventoryItem" />
      <xs:element minOccurs="0" name="WarrantyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeightUnit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InventoryItem" nillable="true" type="tns:InventoryItem" />
  <xs:element name="UpdateInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateInventoryResult" nillable="true" type="tns:UpdateInventoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UpdateInventoryResult">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FailedCodes" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q4:ArrayOfstring" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SuccessCodes" nillable="true" type="q5:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateInventoryResult" nillable="true" type="tns:UpdateInventoryResult" />
  <xs:element name="CreateSituationReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:SalesForceNewTicketRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SalesForceNewTicketRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssignedTo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstLastAndSecondLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Report" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SalesForceNewTicketRequest" nillable="true" type="tns:SalesForceNewTicketRequest" />
  <xs:element name="CreateSituationReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSituationReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSituationReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:SalesForceUpdateTicketRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SalesForceUpdateTicketRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Report" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SalesForceUpdateTicketRequest" nillable="true" type="tns:SalesForceUpdateTicketRequest" />
  <xs:element name="UpdateSituationReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSituationReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGimOrderBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:GimOrderBatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GimOrderBatchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="GimOrders" nillable="true" type="tns:ArrayOfGimOrderInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GimOrderBatchRequest" nillable="true" type="tns:GimOrderBatchRequest" />
  <xs:complexType name="ArrayOfGimOrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GimOrderInfo" nillable="true" type="tns:GimOrderInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGimOrderInfo" nillable="true" type="tns:ArrayOfGimOrderInfo" />
  <xs:complexType name="GimOrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductOffers" nillable="true" type="tns:ArrayOfGimOrderProduct" />
      <xs:element minOccurs="0" name="ReferenceCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GimOrderInfo" nillable="true" type="tns:GimOrderInfo" />
  <xs:complexType name="ArrayOfGimOrderProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GimOrderProduct" nillable="true" type="tns:GimOrderProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGimOrderProduct" nillable="true" type="tns:ArrayOfGimOrderProduct" />
  <xs:complexType name="GimOrderProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PriceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GimOrderProduct" nillable="true" type="tns:GimOrderProduct" />
  <xs:element name="CreateGimOrderBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGimOrderBatchResult" nillable="true" type="tns:GimOrderBatchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GimOrderBatchResult">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FailedRequestReferences" nillable="true" type="q6:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GimOrderBatchResult" nillable="true" type="tns:GimOrderBatchResult" />
  <xs:element name="CreateRefundCreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:CreateRefundCreditNoteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CreateRefundCreditNoteRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreditNoteValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="ReasonCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferenceCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateRefundCreditNoteRequest" nillable="true" type="tns:CreateRefundCreditNoteRequest" />
  <xs:element name="CreateRefundCreditNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRefundCreditNoteResult" nillable="true" type="tns:CreateRefundCreditNoteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CreateRefundCreditNoteResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditNoteDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreditNoteOrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditNoteValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReferenceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesOrderCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateRefundCreditNoteResult" nillable="true" type="tns:CreateRefundCreditNoteResult" />
  <xs:element name="ProcessCommisionTaxes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processCommisionTaxesRequest" nillable="true" type="tns:ProcessCommisionTaxesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ProcessCommisionTaxesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Batch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultantTaxesList" nillable="true" type="tns:ArrayOfConsultantTaxes" />
      <xs:element minOccurs="0" name="RecordCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessCommisionTaxesRequest" nillable="true" type="tns:ProcessCommisionTaxesRequest" />
  <xs:complexType name="ArrayOfConsultantTaxes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultantTaxes" nillable="true" type="tns:ConsultantTaxes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultantTaxes" nillable="true" type="tns:ArrayOfConsultantTaxes" />
  <xs:complexType name="ConsultantTaxes">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActivityCenter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommissionTaxList" nillable="true" type="tns:ArrayOfCommissionTax" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultantTaxes" nillable="true" type="tns:ConsultantTaxes" />
  <xs:complexType name="ArrayOfCommissionTax">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommissionTax" nillable="true" type="tns:CommissionTax" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommissionTax" nillable="true" type="tns:ArrayOfCommissionTax" />
  <xs:complexType name="CommissionTax">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxPercentage" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeBase" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommissionTax" nillable="true" type="tns:CommissionTax" />
  <xs:element name="ProcessCommisionTaxesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessCommisionTaxesResult" nillable="true" type="tns:ProcessCommisionTaxesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ProcessCommisionTaxesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Batch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordCount" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessCommisionTaxesResult" nillable="true" type="tns:ProcessCommisionTaxesResult" />
</xs:schema>