Code/j6SentinelService/j6SentinelEngine/Service References/YanbalIntegrationService/YanbalIntegrationService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.jenkon.com/ErrorHandling" elementFormDefault="qualified" targetNamespace="http://www.jenkon.com/ErrorHandling" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WCFApplicationException">
    <xs:sequence>
      <xs:element minOccurs="0" name="InnerExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFApplicationException" nillable="true" type="tns:WCFApplicationException" />
  <xs:complexType name="WCFValidationException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorList" nillable="true" type="tns:ArrayOfWCFApplicationException" />
      <xs:element minOccurs="0" name="InnerExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFValidationException" nillable="true" type="tns:WCFValidationException" />
  <xs:complexType name="ArrayOfWCFApplicationException">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCFApplicationException" nillable="true" type="tns:WCFApplicationException" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCFApplicationException" nillable="true" type="tns:ArrayOfWCFApplicationException" />
</xs:schema>