Code/j6SentinelService/j6SentinelEngine/Web References/SoapYanbalIntegrationService/YanbalIntegrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.jenkon.com/yanbal" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IYanbalIntegrationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.jenkon.com/yanbal" location="http://10.10.20.90/Integration/YanbalIntegrationService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="CustomBinding_IYanbalIntegrationService" type="i0:IYanbalIntegrationService">
    <wsp:PolicyReference URI="#CustomBinding_IYanbalIntegrationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddCurrencyExchanges">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/AddCurrencyExchanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Fire">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/Fire" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StatusChange">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/StatusChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePreparedOrderInformation">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/UpdatePreparedOrderInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReturnsReport">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/GetReturnsReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCreditSanctions">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/UpdateCreditSanctions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateSanctions">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/UpdateSanctions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AdjustStartingInventory">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/AdjustStartingInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateInventory">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/UpdateInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateSituationReport">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/CreateSituationReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateSituationReport">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/UpdateSituationReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateGimOrderBatch">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/CreateGimOrderBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateRefundCreditNote">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/CreateRefundCreditNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessCommisionTaxes">
      <soap12:operation soapAction="http://www.jenkon.com/yanbal/IYanbalIntegrationService/ProcessCommisionTaxes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WCFApplicationExceptionFault">
        <soap12:fault use="literal" name="WCFApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WCFValidationExceptionFault">
        <soap12:fault use="literal" name="WCFValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>